- if tasks.present?
  %table.table.table-bordered.table-condensed.table-hover
    - tasks.each do |task|
      %tr
        %td
          .col-xs-8
            = task.task
            = link_to task_path(id: task.id, task: {done: !task.done}), method: :put, class: "pull-left btn btn-xs" do
              - if task.done?
                %i.fa.fa-check-square-o
              - else
                %i.fa.fa-square-o
              &nbsp
          .col-xs-4.text-right
            = link_to edit_task_path(task), class: "btn btn-primary btn-sm" do
              %i.fa.fa-pencil
              = 'Edit'
            = link_to task, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm" do
              %i.fa.fa-trash
              = 'Delete'
